{% extends '::base.html.twig' %}
{% block title %}{% if round is null %}Round{% else %}{{ round.name }}{% endif %}{% endblock %}
{% block body %}
<div class="container">
    {{ include('ecucurellaSporTiuBundle:Classification:baseround.html.twig') }}
</div>
{% endblock  %}
