{% extends '::base.html.twig' %}
{% block title %}{% if empty %}club{% else %}{{ club.name }}{% endif %}{% endblock %}
{% block body %}
<div class="container">
    {{ include('ecucurellaSporTiuBundle:Clubs:baseclub.html.twig') }}
    <BR><BR>
    {% embed 'ecucurellaSporTiuBundle:Games:basenext.html.twig' %}
    	{% block nextgameheader %}
    		<div>
      			<h4>
      				<span class="label label-default">next games</span> 
      			</h4>
    		</div>
    	{% endblock %}
	{% endembed %}
    <BR>
    {% embed 'ecucurellaSporTiuBundle:Games:baselast.html.twig' %}
    	{% block lastgameheader %}
    		<div>
      			<h4>
      				<span class="label label-default">last games</span> 
      			</h4>
    		</div>
    	{% endblock %}
	{% endembed %}     
</div>
{% endblock  %}
