{% extends '::base.html.twig' %}
{% block title %}Game {{ id }}{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Game {{ id }}</h1>
    </div>
</div>
{% endblock  %}