{% extends '::base.html.twig' %}
{% block title %}{{ game.localclub.abbreviation }} - {{ game.visitorclub.abbreviation }}{% endblock %}
{% block body %}
<div class="container">
{{ include('ecucurellaSporTiuBundle:Games:basegame.html.twig') }}    
</div>
{% endblock  %}
