{% extends '::base.html.twig' %}
{% block title %}Games{% endblock %}
{% block body %}
<div class="container">
{{ include('ecucurellaSporTiuBundle:Games:basenext.html.twig') }}
{{ include('ecucurellaSporTiuBundle:Games:baselast.html.twig') }}
</div>
{% endblock  %}