{% extends '::base.html.twig' %}
{% block title %}{% if empty %}Game{% else %}{{ game.localclub.abbreviation }} - {{ game.visitorclub.abbreviation }}{% endif %}{% endblock %}
{% block body %}
<div class="container">
{{ include('ecucurellaSporTiuBundle:Games:basegame.html.twig') }}    
</div>
{% endblock  %}
