{% extends '::base.html.twig' %}
{% block title %}Next games{% endblock %}
{% block body %}
<div class="container">
{{ include('ecucurellaSporTiuBundle:Games:basenext.html.twig') }}
</div>
{% endblock  %}