{% extends '::base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <div class="row" style="margin-top:60px;"></div>
        {% if error %}
        <div class="row col-sm-offset-4 col-sm-3">
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <form role="form" class="form-horizontal" action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <h2 class="form-signin-heading">Please sign in</h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-5 control-label">Username</label>
                    <div class="col-sm-2">
                        <input type="text" autofocus="" required="" placeholder="Username" class="form-control" id="username" name="_username" value="{{ last_username }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-5 control-label">Password</label>
                    <div class="col-sm-2">
                        <input type="password" required="" placeholder="Password" class="form-control" id="password" name="_password">
                    </div>
                </div>
                <!--TODO: Remeber me>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-2">
                        <label class="checkbox"><input type="checkbox" value="remember-me"> Remember me</label>
                    </div>
                </div-->
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    </div>
                </div>
            </form>    
        </div>
    </div>
</div>
{% endblock  %}
