{% extends '::base.html.twig' %}
{% block title %}{% if league is null %}League{% else %}{{ league.name }}{% endif %}{% endblock %}
{% block body %}
<div class="container">
    {{ include('ecucurellaSporTiuBundle:Leagues:baseleague.html.twig') }}
</div>
{% endblock  %}
